/* TODO: prettify */

.slider-horizontal{
    margin:0 10px;
}
.settings-hor-title{
    text-align:right;
}
#panel-main .row{
    padding-bottom:10px;
}
#log{
    max-height:300px;
    overflow-y:scroll;
}
